spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    # 테이블 생성 후 data.sql 실행
    defer-datasource-initialization: true
jwt:
  issuer: ${JWT_ISSUER}
  secret_key: ${JWT_SECRET}

logging:
  level:
    org.springframework.security: DEBUG
